* {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


header {
  margin: 77px 0 144px 97px;

}

.pai-pai {
  display: inline block;
  position: absolute;
  width: 401px;
  height: 791px;
  left: 900px;
  opacity: 84%;
  background: rgba(93, 93, 125, 0.16);
  cursor: pointer;


}

.link-header-1 {
  color: #ababbc;

}

a:nth-child(2) {

  opacity: .4;
}

a:hover {
  opacity: 0.4;
}

a:active {
  opacity: 0.8;
}

.filho-filho {

  position: relative;
  right: 150px;
  ;
  bottom: 60px;
}

.lorem {
  position: absolute;
  display: inline-block;
  right: 240px;
  font-size: 30px;
  line-height: 45px;
  width: 650px;
  text-align: left;
  left: 190;
  margin: 340px;


}

button {
  left: -6773px;
  background: #9499EA;
  border-radius: 35px;
  border: none;
  width: 239px;
  height: 52px;
  border: none;
  top: -625px;
  gap: 0px;
  cursor: pointer;

  color: #FFFFFF;



}

button:hover {

  opacity: .8;
}

button:active {
  opacity: .5;

}

@media screen and (max-width:450px){
    




  
.filho-filho{display:block ;
  position: static;
  width: 474px;
top: 690px;
right: 150px;
height: 850px;
align-items:center;
left: 100px; 
  

}
.lorem {
  display: block;
position: static;
  width:460px ;
font-size: 20px;
line-height: 24px;
height:1800px ;
text-align: center;
margin:70px 0 0 40px;

}

.pai-pai {

  display: block;
  position:sticky;
  width: 675px;
height: 635px;
top:980px;
vertical-align: bottom;}

header{display: none;}




}